# Dependencies
node_modules/

# Expo & Metro build caches
.expo/
dist/
web-build/

# Native build folders
android/
ios/

# Environment files
.env
.env.*
!.env.example

# Logs & OS files
*.log
.DS_Store
Thumbs.db
